* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  min-height: 100vh;
  padding: 40px 20px;
}

.headerContent {
  width: 100%;
  text-align: center;
  padding: 10px 20px;
}

.h1 {
  margin: 0;
  padding-bottom: 10px;
  font-size: 36px;
}

.date {
  margin: 0;
  font-size: 20px;
  color: #707C94;
}

.heading {
  padding-top: 30px; 
  text-align: center;
}

.profile-picture-row {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.profile-picture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px; 
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #d3d3d3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  font-size: 16px;
  text-align: center;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.choose-file-btn {
  margin-top: 30px; /* Spacing between image and Choose file button */
  width: 120px;
}

.fileInput {
  padding: 8px;
  font-size: 14px;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
}

.formFields {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.inputGroup {
  flex: 1 1 45%; /* Two columns on larger screens */
  margin-bottom: 15px;
}

.inputGroup label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}

.inputGroup input {
  width: 100%;
  padding: 10px;
  border: 1px solid #090000b5;
  border-radius: 6px;
  font-size: 16px;
}

/* Button styling */
.save-btn {
  margin-top: 25px; 
  margin-bottom: 10px; 
  padding: 12px;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  max-width: 200px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  background-color: #007bff;
  transition: background-color 0.3s ease;
  align-self: center; 
}


.save-btn:hover {
  background-color: #007bffb9;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  /* On smaller screens, use full width for each input */
  .inputGroup {
    flex: 1 1 100%; /* Full width for small screens */
  }

  .h1 {
    font-size: 28px;
  }

  .button {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .h1 {
    font-size: 24px;
  }

  .profilePicture {
    width: 120px;
    height: 120px;
  }

  .inputGroup label {
    font-size: 14px;
  }

  .inputGroup input {
    padding: 8px;
    font-size: 14px;
  }
}
