.toolCard.card {
  width: 15rem;
  margin-bottom: 1rem;
  border: 1px solid #001858;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
  transition: all 0.3s ease;
}

.toolCard.card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-10px);
}

.profileToolsWrapper {
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
  margin-top: 1rem;
}

.profileContainer {
  flex: 1;
  margin-right: 2rem;
  width: 20rem;
}

.toolsContainer {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid;
  border-color: #001858;
  border-radius: 10px;
  height: auto;
  width: 50rem;
}
