





.ProfileContainer {
  padding-right: 1rem;
  
  height: 20rem;
}

.ProfileCard{
  margin-top: 1rem;
 
}

.ToolsContainer{
  
  
}

.ToolCard{
  width: 15rem;
  margin: 1rem;
}




.Tools{
  padding: 1rem;
  
}

.Available{
 
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.Borrowed{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;

}

.AddButton{
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  background-color: #28a745;
  color: white;
}

.DeleteButton{
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  background-color: #a72835;
  color: white;
}