.profileContainer {
  width: 100%;
  margin-right: 2rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

/* .btn-primary {
  margin-top: 1rem;
  align-self: center;
} */

.button-container .delete-button {
  min-width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.button-container .delete-button.confirm-text {
  font-size: 0.85em;
  background-color: red;
  border-color: red;
}

.profileCard {
  max-width: 30rem;
}

.ToolsContainer {
  flex: 1;
}

.tool-image-container {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tool-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.button-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* .edit-button {
  margin-right: 10px;
} */

.profile-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-container {
  width: 100%;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.profile-card {
  max-width: 30rem;
  margin-bottom: 1rem;
  z-index: 2;
  position: relative;
}

/* .share-button {
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  z-index: 1;
  position: relative;
  align-self: center;
} */
